form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #0d47a1;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

h3 {
  font-size: 24px;
}
